<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="index.css" type="text/css">
        <meta charset="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/Estilo.css')}}">
    </head>
<body>
    <div class="container">
    <h1> LISTAO DE USUARIOS </h1>

        <table>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Usuario</th>
                <th>Acciones</th>
            </tr>

            <tbody>
                {% for usuario in personas %}
                <tr>
                    <td>{{usuario[0] }}</td>
                    <td>{{usuario[1] }}</td>
                    <td>{{usuario[2] }}</td>
                    <td>{{usuario[3] }}</td>
                    <td>{{usuario[4] }}</td>
                    <td>{{usuario[5] }}</td>
                    <td>{{usuario[6] }}</td>
                    <td>
                        <a href="{{ url_for('editar_usuario',codigo=usuario[0]) }}">Editar</a>
                        <a href="{{url_for('eliminar_usuario',codigo=usuario[0]) }}">Eliminar</a>
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <div>
        

</body>

</html>
